.artAPropos {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.imgRadiance {
  width: 40%;
  opacity: 0;
  animation: slideRight 4s ease-out forwards;
}

.secDesc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

@media screen and (max-width: 431px) {
  .imgRadiance {
    width: 80%;
  }

  .artAPropos {
    flex-direction: column;
    align-items: center;
  }

  .secDesc {
    width: 85%;
  }

  .secDesc h2 {
    font-size: 20px;
  }

  .secDesc p,
  .secDesc li {
    font-size: 15px;
  }
}
