@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #cfd6e4;
  font-family: "Merriweather", serif;
}

body {
  background:
    radial-gradient(
      ellipse at left,
      rgba(230, 236, 245, 0.15) 0%,
      transparent 60%
    ),
    radial-gradient(
      ellipse at right,
      rgba(230, 236, 245, 0.15) 0%,
      transparent 60%
    ),
    #121826;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#divMenuBurger {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.95);
  opacity: 0;
  transform: translateX(200px);
  animation: slideRight 1.2s ease-out forwards;
}

.divMenu {
  background: rgba(11, 14, 20, 0.6);
  width: 80%;
  margin: auto;
  padding: 1rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
}

.imgHautMenu {
  position: absolute;
  bottom: 93%;
}

.imgBasMenu {
  position: absolute;
  top: 95%;
}

.divPage {
  display: flex;
  align-items: center;
}

.lienPages {
  font-size: 20px;
}

.lienChoisis {
  color: white;
}

header {
  position: fixed;
  top: 0;
  background: rgba(42, 52, 69, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  width: 100%;
}

h1 {
  font-size: 28px;
}

header div {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
  font-size: 15px;
  font-weight: bold;
}

.navMenuBurger {
  display: none;
}

@keyframes zoneReveal {
  0% {
    opacity: 0;
    clip-path: inset(0 50% 0 50%);
  }
  30% {
    opacity: 1;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes slideRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

main {
  margin: 8rem 0 2rem 0;
  flex: 1 0 auto;
}

.page {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 431px) {
  .imgSelectReverse {
    transform: rotate(180deg);
  }

  header {
    width: 80vw;
    height: 10%;
    border-radius: 999px;
    margin-top: 1rem;
  }

  h1 {
    display: none;
  }

  nav {
    display: none;
  }

  .navMenuBurger {
    display: flex;
  }

  #btnMenuBurger {
    background: rgba(42, 52, 69, 0);
    border: none;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
